<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zeng.ezsh.wy.dao.DeviceLockMapper" >
	<resultMap id="BaseResultMap" type="com.zeng.ezsh.wy.entity.DeviceLock" >
	  <id column="lock_id" property="lockId" jdbcType="INTEGER" />
	  <result column="device_id" property="deviceId" jdbcType="VARCHAR" />
	  <result column="device_pass" property="devicePass" jdbcType="VARCHAR" />
	  <result column="pt_build_id" property="ptBuildId" jdbcType="INTEGER" />
	  <result column="build_name" property="buildName" jdbcType="VARCHAR" />
	  <result column="pt_manager_id" property="ptManagerId" jdbcType="INTEGER" />
	  <result column="manager_name" property="managerName" jdbcType="VARCHAR" />
	</resultMap>
  
	<sql id="Base_Column_List" >
	  lock_id, device_id, device_pass, pt_build_id, build_name, pt_manager_id, manager_name
	</sql>
	
  	<sql id="Base_Column_List_U_Ms" >
	  d_l.lock_id, d_l.device_id, d_l.device_pass, d_l.pt_build_id, d_l.build_name, d_l.pt_manager_id, d_l.manager_name,
	  u_m.u_ms_id,u_m.p_user_id, u_m.p_manager_id, u_m.p_build_id, u_m.p_room_id, u_m.p_owner_id, u_m.register_name, 
      u_m.register_telephone, u_m.identify_classify, u_m.apply_time, u_m.check_status, u_m.failure_info,
      u_m.privilege
	</sql>
	
	<!-- 根据条件获取楼宇的门锁设备信息（移动端） -->
	<select id="selectDeviceByParam" resultMap="BaseResultMap" parameterType="com.zeng.ezsh.wy.entity.DeviceLock" >
	  select 
	  <include refid="Base_Column_List" />
	  from device_lock
	  where pt_build_id = #{ptBuildId,jdbcType=INTEGER} and pt_manager_id = #{ptManagerId,jdbcType=INTEGER}
	</select>
	
	<!-- 根据条件获取楼宇的门锁设备信息集合（移动端），用于获取出业主有权限开哪些门 -->
	<select id="selectDeviceListByParam" resultMap="BaseResultMap" parameterType="java.util.Map" >
	  select 
	  <include refid="Base_Column_List" />
	  from device_lock
	  <where>  
            <if test="ptManagerId!=null and ptManagerId!=''">  
                pt_manager_id=#{ptManagerId,jdbcType=INTEGER}
            </if>  
            <if test="employeeIdsArray!=null and employeeIdsArray.length!=0">  
                and pt_build_id in  
                <foreach collection="deviceList" item="devices" index="index"  
		            open="(" close=")" separator=",">  
		            #{devices}  
		        </foreach> 
            </if>  
      </where>  
	</select>
	
	<!-- 检测设备锁是否存在(移动端) -->
  	<select id="checkDeviceIsOn" resultType="java.lang.Integer" parameterType="com.zeng.ezsh.wy.entity.DeviceLock" >
	  select 
	  count(*)
	  from device_lock
	  where device_id = #{deviceId,jdbcType=VARCHAR}
	</select>
	
	<!-- 根据门锁的lockId获取楼宇的门锁设备信息（移动端）(用于嵌套查询) -->
	<select id="selectDeviceByLockId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
	  select 
	  <include refid="Base_Column_List" />
	  from device_lock
	  where lock_id = #{0}
	</select>
  
  <!-- 根据门锁的lockId获取楼宇的门锁设备信息（移动端）(用于嵌套查询) -->
	<select id="selectDeviceByDeviceId" resultMap="BaseResultMap" parameterType="com.zeng.ezsh.wy.entity.DeviceLock" >
	  select 
	  <include refid="Base_Column_List" />
	  from device_lock
	  where device_id = #{deviceId,jdbcType=VARCHAR}
	</select>
	
    <!--添加楼宇设备锁 （后台）-->
	<insert id="insert" parameterType="com.zeng.ezsh.wy.entity.DeviceLock" >
	  insert into device_lock
	  <trim prefix="(" suffix=")" suffixOverrides="," >
	    <if test="lockId != null" >
	      lock_id,
	    </if>
	    <if test="deviceId != null" >
	      device_id,
	    </if>
	    <if test="devicePass != null" >
	      device_pass,
	    </if>
	    <if test="ptBuildId != null" >
	      pt_build_id,
	    </if>
	    <if test="buildName != null" >
	      build_name,
	    </if>
	    <if test="ptManagerId != null" >
	      pt_manager_id,
	    </if>
	    <if test="managerName != null" >
	      manager_name,
	    </if>
	  </trim>
	  <trim prefix="values (" suffix=")" suffixOverrides="," >
	    <if test="lockId != null" >
	      #{lockId,jdbcType=INTEGER},
	    </if>
	    <if test="deviceId != null" >
	      #{deviceId,jdbcType=VARCHAR},
	    </if>
	    <if test="devicePass != null" >
	      #{devicePass,jdbcType=VARCHAR},
	    </if>
	    <if test="ptBuildId != null" >
	      #{ptBuildId,jdbcType=INTEGER},
	    </if>
	    <if test="buildName != null" >
	      #{buildName,jdbcType=VARCHAR},
	    </if>
	    <if test="ptManagerId != null" >
	      #{ptManagerId,jdbcType=INTEGER},
	    </if>
	    <if test="managerName != null" >
	      #{managerName,jdbcType=VARCHAR},
	    </if>
	  </trim>
	</insert>
	
	<!-- 获取楼宇设备锁列表集合（移动端） -->
	<select id="selectListDeviceByParamM" resultMap="BaseResultMap" parameterType="com.zeng.ezsh.wy.entity.DeviceLock" >
	  select 
	  <include refid="Base_Column_List_U_Ms" />
	  from device_lock d_l inner join u_ms_ids u_m
	  on u_m.p_build_id = d_l.pt_build_id and u_m.check_status = 1
	  <where>
		<if test="ptBuildId != null" >
		  and pt_build_id = #{ptBuildId,jdbcType=INTEGER}
		</if>
		<if test="buildName != null" >
		  and build_name = #{buildName,jdbcType=VARCHAR}
		</if>
		<if test="ptManagerId != null" >
		  and pt_manager_id = #{ptManagerId,jdbcType=INTEGER}
		</if>
		<if test="ptUserId != null" >
		  and u_m.p_user_id = #{ptUserId,jdbcType=INTEGER}
		</if>
	  </where>
	  Group By d_l.device_id
	</select>
	
	<!-- 获取楼宇设备锁列表集合（后台） -->
	<select id="selectListDeviceByParamA" resultMap="BaseResultMap" parameterType="com.zeng.ezsh.wy.entity.DeviceLock" >
	  select 
	  <include refid="Base_Column_List" />
	  from device_lock
	  <where>
		<if test="ptBuildId != null" >
		  and pt_build_id = #{ptBuildId,jdbcType=INTEGER}
		</if>
		<if test="buildName != null" >
		  and build_name = #{buildName,jdbcType=VARCHAR}
		</if>
		<if test="ptManagerId != null" >
		  and pt_manager_id = #{ptManagerId,jdbcType=INTEGER}
		</if>
	  </where>
	</select>
	
	<!--更新楼宇设备锁(后台) -->
  	<update id="updateByPrimaryKeySelective" parameterType="com.zeng.ezsh.wy.entity.DeviceLock" >
	  update device_lock
	  <set >
	    <if test="deviceId != null" >
	      device_id = #{deviceId,jdbcType=VARCHAR},
	    </if>
	    <if test="devicePass != null" >
	      device_pass = #{devicePass,jdbcType=VARCHAR},
	    </if>
	    <!-- <if test="ptBuildId != null" >
	      pt_build_id = #{ptBuildId,jdbcType=INTEGER},
	    </if>
	    <if test="buildName != null" >
	      build_name = #{buildName,jdbcType=VARCHAR},
	    </if>
	    <if test="ptManagerId != null" >
	      pt_manager_id = #{ptManagerId,jdbcType=INTEGER},
	    </if>
	    <if test="managerName != null" >
	      manager_name = #{managerName,jdbcType=VARCHAR},
	    </if> -->
	  </set>
	  where lock_id = #{lockId,jdbcType=INTEGER}
	</update>
	
	<!-- 删除楼宇设备锁 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
	  delete from device_lock
	  where lock_id = #{lockId,jdbcType=INTEGER}
	</delete>
</mapper>