<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeng.ezsh.wy.dao.HkTypeMapper">
  <resultMap id="BaseResultMap" type="com.zeng.ezsh.wy.entity.HkType">
    <id column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="hk_id" jdbcType="INTEGER" property="hkId" />
    <result column="hk_type" jdbcType="VARCHAR" property="hkType" />
  </resultMap>
  <resultMap id="HkTypeMap" type="com.zeng.ezsh.wy.entity.HkTypeVo">
    <id column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="hk_type" jdbcType="VARCHAR" property="hkType" />
  </resultMap>
  <sql id="Base_Column_List">
    type_id, hk_id, hk_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hk_type
    where type_id = #{typeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hk_type
    where type_id = #{typeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zeng.ezsh.wy.entity.HkType">
    insert into hk_type (type_id, hk_id,  
      hk_type)
    values (#{typeId,jdbcType=INTEGER}, #{hkId,jdbcType=INTEGER},  
      #{hkType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zeng.ezsh.wy.entity.HkType">
    insert into hk_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        type_id,
      </if>
      <if test="hkId != null">
        hk_id,
      </if>
      
      <if test="hkType != null">
        hk_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="hkId != null">
        #{hkId,jdbcType=INTEGER},
      </if>
     
      <if test="hkType != null">
        #{hkType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zeng.ezsh.wy.entity.HkType">
    update hk_type
    <set>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      
      <if test="hkType != null">
        hk_type = #{hkType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zeng.ezsh.wy.entity.HkType">
    update hk_type
    set type_id = #{typeId,jdbcType=INTEGER},
     
      hk_type = #{hkType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  	<!-- 根据服务类型查询typeId -->
 	<select id="getTypeId" parameterType="String" resultType="int">
 		select type_id
 		from hk_type
 		where hk_type = #{hkType}
 	</select>
 	<!-- 根据typeId查询服务类型 -->
 	<select id="getTypeById" parameterType="int" resultType="String">
 		select hk_type
 		from hk_type
 		where type_id = #{typeId}
 	</select>
  <!-- 根据服务公司id获取服务类型 -->
  <select id="getHkItems" parameterType="int" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from hk_type
    where hk_id = #{hkId}
  </select>
  <!-- 根据服务公司id获取服务类型 -->
  <select id="getHkTypes" parameterType="int" resultMap="HkTypeMap">
  	select 
     type_id,hk_type
    from hk_type
    where hk_id = #{hkId}
  </select>
</mapper>